* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --light-red: hsl(356, 100%, 66%);
    --VL-red: hsl(355, 100%, 74%);
    --VD-blue: hsl(208, 49%, 24%);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --grayish-blue: hsl(240, 2%, 79%);
    --VD-grayish-blue: hsl(207, 13%, 34%);
    --VD-black-blue: hsl(240, 10%, 16%);

    /* Gradient */
    --VL-red-gradient: hsl(13, 100%, 72%);
    --light-red-gradient: hsl(353, 100%, 62%);
    /* ############ */
    --VD-gray-blue: hsl(237, 17%, 21%);
    --VD-desaturated-blue: hsl(237, 23%, 32%);

    /* Font size */
    --default-font-size: 16px;
    /* Font Families */
    --OVERPASS: "Overpass", sans-serif;
        --OVERPASS-weight-1: 300;
        --OVERPASS-weight-2: 600;
    --UBUNTU: "Ubuntu", sans-serif;
        --UBUNTU-weight-1: 400;
        --UBUNTU-weight-2: 500;
        --UBUNTU-weight-3: 700;
}

/* STARTING EXECUTING !! */

.hero {
    position: relative;
    min-height: 79vh;
    background: url(../images/mobile/bg-pattern-intro-mobile.svg), linear-gradient(to top, var(--light-red-gradient), var(--VL-red-gradient));
    background-repeat: no-repeat;
    background-size: auto;
    border-bottom-left-radius: 100px;
    background-position-x: 36%;
    background-position-y: 37%;
    padding: 50px 20px;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    transform: scale(0.8);
    transform-origin: left;
}
header .logo-link {
    display: inline-block;
}
header .ham {
    cursor: pointer;
    display: flex;
    align-items: center;
}
header .ham .ham-icon {
    height: 19px;
}

.display-none {
    display: none;
}

.hero-container {
    position: absolute;
    top: calc(50% + 12px);
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: calc(100% - 40px);
}
.hero-container h1 {
    color: var(--white);
    font-family: var(--OVERPASS);
    font-weight: var(--OVERPASS-weight-2);
    margin-bottom: 12px;
}
.hero-container p {
    color: var(--white);
    font-family: var(--OVERPASS);
    font-weight: var(--OVERPASS-weight-1);
}

.links {
    margin-top: 37px;
    display: flex;
    justify-content: center;
    column-gap: 15px;
}
.links a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-family: var(--UBUNTU);
    font-weight: var(--UBUNTU-weight-2);
    font-size: var(--default-font-size);
    background-color: var(--white);
    padding: 13px 15px;
    border-radius: 25px;
    color: var(--light-red);
    flex-basis: 150px;
    transition: 0.3s;
}
.links a:nth-child(2) {
    background-color: transparent;
    color: var(--white);
    border: 1px solid;
}
.links a:nth-child(1):hover {
    background-color: hsla(0, 0%, 100%, 0.32);
    color: var(--white);
}
.links a:nth-child(2):hover {
    background-color: var(--white);
    color: var(--light-red);
}

nav {
    display: block;
    z-index: 17;
}

.content {
    filter: drop-shadow(0px 5px 5px hsl(0deg 0.65% 38.38%));
    padding: 40px 20px;
    margin-top: 20px;
    width: calc(100% - 40px);
    opacity: 0;
    min-width: 100px;
    z-index: 7;
    background-color: var(--white);
    font-family: var(--OVERPASS);
    font-weight: var(--OVERPASS-weight-2);
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: flex-start;
    row-gap: 20px;
    position: absolute;
}
.content > a:not(.sign-up):hover {
    text-decoration: underline;
}
.product-content, .company-content, .connect-content {
    background-color: #efeff1;
    width: 100%;
    border-radius: inherit;
    transition-duration: 0.3s;
    display: none;
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 32px 20px;
    margin-top: 10px;
}
.content .product-content a, .content .company-content a, .content .connect-content a {
    color: var(--VD-grayish-blue);
    font-size: 15px;
}
.content .product-content a:hover, .content .company-content a:hover, .content .connect-content a:hover {
    color: black;
}
.content a {
    color: var(--VD-gray-blue);
    user-select: none;
    text-decoration: none;
    width: fit-content;
}

.product, .company, .connect {
    transition: 0.3s;
}
.product svg, .company svg, .connect svg {
    transition: 0.3s;
}

.rotate-180 {
    transform: rotate(-180deg);
}
.opacity-half {
    opacity: 0.5;
}
a {
    cursor: pointer;
}
.open {
    display: flex;
}
.opacity-full {
    opacity: 1;
}
.opened-menu {
    transform: scaleY(1) !important;
    opacity: 1;
}
.link-opened {
    color: var(--white);
    text-decoration: underline;
}

.h-l {
    width: 100%;
    background-color: var(--grayish-blue);
    height: 1px;
    display: block;
}
.content .sign-up {
    color: var(--white);
    font-family: var(--UBUNTU);
    font-weight: var(--UBUNTU-weight-2);
    padding: 10px 25px;
    background: linear-gradient(to left, var(--light-red-gradient), var(--VL-red-gradient));
    border-radius: 40px;
    transition: 0.3s;
}
.content .sign-up:hover {
    padding: 10px 37.5px;
}

/* EDITOR */

.editor {
    padding-block: 20px;
}
.editor h1, .editor h2 {
    
    text-align: center;
    color: var(--VD-blue);
    font-family: var(--OVERPASS);
    font-weight: var(--OVERPASS-weight-2);
}
.editor h1 {
    margin-top: 60px;
}
.editor h2 {
    margin-bottom: 20px;
}
.editor p {
    text-align: center;
    font-family: var(--OVERPASS);
    font-weight: var(--OVERPASS-weight-1);
    color: var(--VD-grayish-blue);
    margin-bottom: 35px;
    line-height: 1.5;
    padding-inline: 30px;
}
.editor img {
    width: calc(100% + 0px);
    margin-bottom: 45px;
}
.editor-wrapper {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PHONES */

.phones {
    position: relative;
    background-image: url(../images/bg-pattern-circles.svg);
    background-size: 130vw;
    background-position-x: center;
    background-position-y: -50vw;
    background-repeat: no-repeat;
    padding: 50vw 20px 27vw;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    background-color: hsl(234.71deg 22.67% 29.41%);
    margin-top: 42vw;
    font-family: var(--OVERPASS);
}
.phones h1 {
    color: var(--white);
    text-align: center;
}
.phones p {
    color: var(--grayish-blue);
    text-align: center;
    font-weight: var(--OVERPASS-weight-1);
    line-height: 1.5;
    margin-top: 25px;
    padding-inline: 10px;
}
.phones img {
    width: 80vw;
    position: absolute;
    margin: 0 auto;
    top: -38vw;
    left: 50%;
    transform: translateX(-50%);
}

/* LAPTOP */

.laptop {
    padding: 60px 20px;
}
.laptop * {
    font-family: var(--OVERPASS);
    text-align: center;
}
.laptop h2 {
    color: var(--VD-blue);
    font-weight: var(--OVERPASS-weight-2);
    margin-bottom: 15px;
}
.laptop-text {
    margin-top: 30px;
}
.laptop p {
    line-height: 1.5;
    color: var(--VD-grayish-blue);
    margin-bottom: 40px;
}

.laptop img {
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    padding: 71px 20px 32px;
    background-color: var(--VD-black-blue);
    border-top-right-radius: 100px;
    flex-direction: column;
    align-items: center;
}
footer * {
    font-family: var(--UBUNTU);
    text-align: center;
}
footer p {
    color: var(--white);
    margin-bottom: 15px;
}
footer a {
    text-decoration: none;
    color: var(--grayish-blue);
}
footer > a {
    margin-bottom: 50px;
}

.links-wrapper div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 12px;
    margin-bottom: 40px;
}
.links-wrapper a:hover {
    color: var(--white);
}

@media (max-width: 991px) {
    .hero {
        min-height: 420px;
        height: 79vh;
    }
}


/* MEDIA QUERY & DESKTOP VERSION */

.header-links {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    font-family: var(--UBUNTU);
    font-weight: var(--UBUNTU-weight-3);
    color: #ddd;
}
.header-links p {
    min-width: 89.5px;
}
.header-links svg {
    transition: 0.3s;
    margin-left: 3px;
}
.header-links-wrapper {
    display: none;
}
.header-form {
    display: none;
    min-width: 195px;
}

.product-dropdown, .company-dropdown, .connect-dropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    row-gap: 17px;
    transform: scaleY(0);
    transform-origin: top;
    transition: 0.3s;
    margin-top: 20px;
    margin-left: -17px;
    background-color: var(--white);
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    filter: drop-shadow(0px 5px 5px hsl(0deg 0.65% 38.38%));
    padding-right: 50px;
    cursor: default;
    z-index: 12;
}
.product-dropdown a, .company-dropdown a, .connect-dropdown a {
    text-decoration: none;
    color: var(--VD-grayish-blue);
}
.product-dropdown a:hover, .company-dropdown a:hover, .connect-dropdown a:hover {
    color: black;
}

.flex {
    display: flex !important;
}

picture {
    min-width: calc(100% - 0px);
}

@media (min-width: 992px) {

    header {
        padding-inline: 7%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 65px;
        min-height: 45px;
    }
    header .logo {
        transform: scale(1.5);
        transform-origin: top left;
        min-width: 152px;
    }
    header .ham {
        display: none;
    }

    .hero {
        min-height: 550px;
        height: 79vh;
        background: url(../images/desktop/bg-pattern-intro-desktop.svg), linear-gradient(to left, var(--light-red-gradient), var(--VL-red-gradient));
        background-position-x: 28%;
        background-position-y: center;
        padding: 70px 20px;
    }
    .hero-main {
        display: flex;
        justify-content: center;
        column-gap: 90px;
    }

    .header-links-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header-product, .header-company, .header-connect {
        text-align: center;
        position: relative;
        cursor: pointer;
        user-select: none;
    }
    .header-product p:hover, .header-company p:hover, .header-connect p:hover {
        color: var(--white);
        text-decoration: underline;
    }
    .header-product p:hover path, .header-company p:hover path, .header-connect p:hover path {
        fill: white;
    }
    .header-form {
        display: block;
    }
    .header-form a {
        color: var(--white);
        text-decoration: none;
        font-family: var(--UBUNTU);
        font-weight: var(--UBUNTU-weight-3);
    }
    .header-form a:nth-child(1) {
        margin-right: 20px;
    }
    .header-form a:nth-child(2) {
        background-color: var(--white);
        color: var(--VL-red);
        padding: 13px 33px;
        min-width: 150px;
        text-align: center;
        border-radius: 30px;
        transition: 0.3s;
    }
    .header-form a:nth-child(2):hover {
        background-color: hsla(0, 0%, 100%, 0.32);
        color: var(--white);
    }

    .editor-wrapper {
        flex-direction: row-reverse;
        overflow: hidden;
        padding-left: 8vw;
        margin-top: 0;
    }
    .editor-text-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .editor p {
        margin-bottom: 71px;
        padding-inline: 0 30px;
        text-align: left;

    }
    .editor img {
        min-width: 62vw;
        max-width: 900px;
    }
    .editor picture {
        min-width: 62vw;
        max-width: 900px;
        margin-right: -19%;
        margin-left: 5vw;
    }

    .phones {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 10vw 8.9vw;
        margin-block: 75px 100px;
        background-size: 67vw;
        background-position-x: -10vw;
        background-position-y: -30vw;
    }
    .phones-text-container {
        max-width: 40vw;
    }
    .phones-text-container h1 {
        text-align: left;
    }
    .phones-text-container p {
        padding-left: 0;
        text-align: left;
    }
    .phones img {
        width: 37vw;
        top: 50%;
        left: 25%;
        transform: translate(-50%, -47%);
    }

    .laptop {
        padding: 60px 8vw 0 0;
        display: flex;
        justify-content: space-between;
    }
    .laptop picture {
        width: 100%;
        display: block;
        min-width: 62vw;
        max-width: 900px;
        margin-left: -20%;
    }
    .laptop img {
        width: 100%;
        min-width: 62vw;
        max-width: 900px;
    }
    .laptop-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .laptop p {
        text-align: left;
    }

    footer {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        column-gap: clamp(0vw, 8vw, 10vw);
        padding-left: 9%;
    }
    footer p {
        font-weight: var(--UBUNTU-weight-3);
        cursor: default;
        user-select: none;
    }
    footer .links-wrapper {
        display: flex;
        column-gap: clamp(6vw, 9vw, 12vw);
        flex-direction: row;
        align-items: flex-start;
        min-width: 62vw;
        justify-content: center;
    }
    footer .links-wrapper a:hover {
        text-decoration: underline;
    }
}

@media (min-width:1200px) and (max-width:1440px) {
    .phones img {
        width: 40vw;
    }
}
@media (min-width:1100px) and (max-width:1199px) {
    .phones {
        padding-right: 80px;
    }
    .phones img {
        width: 45vw;
    }
}
@media (min-width:992px) and (max-width:1099px) {
    .phones {
        padding-block: 57px;
    }
    .phones img {
        width: 42vw;
    }
}